* {
	 border: 			solid red 1px; 
}

html, body {
	margin: 			0;
	padding: 			0;
}

body {
	display: 			flex;
	justify-content: 	space-evenly;
	align-items: 		center;
	height: 			100vh;
	touch-action: none;
}

table, th, td {
	border-collapse: 	collapse;
}

/* tbody{
	pointer-events: none;
} */

td {
	width: 				40px;
	height: 			40px;
	background-color: white;
	padding:			0;
	border: 			solid red 1px;
	text-align: 		center;
}

.dragging {
	opacity: 			0.5;
	cursor: 			pointer;
	width: 				50%;
	height: 			50%;
}

.start-node-img, .goal-node-img {
	transition: 		500ms;
	max-width: 			70%;
	max-height: 		70%;
	cursor: 			move;
	user-select: 		none;
}



.closed {
	background-color: red;
	transition: 1s;
}

.opened {
	background-color: rgb(252, 172, 229);
	transition: 500ms;
}

.current {
	outline: grey solid 5px;
	transition: 500ms;
}

.wall {
	background-color: rgb(44, 44, 44);
}

.costs {
	font-size: 0.55rem;
	width: fit-content;
	color: grey;
	pointer-events: inherit;
}




#left-section {
	height: 100vh;
	width: 15vw;
}

		input#grid_height_value {
			max-width: 15vw;
		}

#middle-section {
	border: solid 1px blue;
	height: 100vh;
	width: 70vw;

	display: flex;
	align-items: center;
	justify-content: center;
}

#right-section {
	height: 100vh;
	width: 10vw;
}
